In [14]:
##Python Type Conversion##
#Convert an integer to a floating-point number.

a= 10

b= float(a)
print(b)

10.0

In [2]:
#Convert a float to a integer.

b= 10.0
c= int(b)
print(c)

10

In [13]:
# Convert an integer to a string.
a= 10.9
b= str(a)
print(b)

10.9

In [11]:
#convert a list to tuple.
a = [1,'mk','ak',32,56,27]
b = tuple(a)
print(b)

(1, 'mk', 'ak', 32, 56, 27)

In [20]:
  #Convrt a tuple to a list.
a = (1, 'mk', 'ak', 32, 56, 27)
b = list(a)
print(b)

[1, 'mk', 'ak', 32, 56, 27]

In [2]:
a = (1, 'mk', 'ak', 32, 56, 27)
b = list(a)
print(b)

[1, 'mk', 'ak', 32, 56, 27]

In [3]:
#Convert a decimal number to binary.
a=20
b=bin(a)
print(b)

0b10100

In [7]:
# Convert a non-zero number to boolean.
a=55
d=bool(a)
print(d)

True